In [4]:
data_base_name = 'stas.sqlite3.data_base'

In [6]:
import sqlite3
connection = sqlite3.connect(data_base_name)

cur = connection.cursor()

cur.execute('''CREATE TABLE IF NOT EXISTS pupils
               (id text, name text, email text, age text, phone text)''')



try:
    cur.execute("INSERT INTO pupils VALUES ('1', 'Stanislav Trunov', 'stanislav@test.ua', 13, 0682549449)")
    cur.execute("INSERT INTO pupils VALUES ('2', 'Denis Derivedmed', 'denis@test.com', 16, 0975960434)")
    cur.execute("INSERT INTO pupils VALUES ('3', 'Mark Melnyk', 'markmeln@gmail.com', 14, 0697804567)")
    cur.execute("INSERT INTO pupils VALUES ('4', 'Maksim Herbrant', 'maksim@gmail.ua', 15, 0679495359)")


    connection.commit()
finally:
    connection.close()

In [9]:
import sqlite3
connnection = sqlite3.connect(data_base_name)
cursor = connnection.cursor()
try:
    cursor.execute('SELECT * FROM pupils')
    print(cursor.fetchone())    
    print(cursor.fetchone())    
    print(cursor.fetchone()) 
    print(cursor.fetchone())    

finally:
    connnection.close()

('1', 'Stanislav Trunov', 'stanislav@test.ua', '13', '682549449')
('2', 'Denis Derivedmed', 'denis@test.com', '16', '975960434')
('3', 'Mark Melnyk', 'markmeln@gmail.com', '14', '697804567')
('4', 'Maksim Herbrant', 'maksim@gmail.ua', '15', '679495359')

In [25]:
import sqlite3
connnection = sqlite3.connect(data_base_name)
cursor = connnection.cursor()
try:
    cursor.execute('SELECT * FROM pupils WHERE age > 14 ORDER BY age')
    print(cursor.fetchone()) 
    print(cursor.fetchone())    

finally:
    connnection.close()

('4', 'Maksim Herbrant', 'maksim@gmail.ua', '15', '679495359')
('2', 'Denis Derivedmed', 'denis@test.com', '16', '975960434')

In [38]:
import sqlite3
connnection = sqlite3.connect(data_base_name)
cursor = connnection.cursor()
try: 
    cursor.execute('SELECT * FROM pupils WHERE age = 13  ORDER BY age')
    cursor.execute('SELECT * FROM pupils WHERE id =  1 ORDER BY id')
    print(cursor.fetchone())    
finally:
    connnection.close()

('1', 'Stanislav Trunov', 'stanislav@test.ua', '13', '682549449')