In [6]:
db_name = 'sqlite-api2.db'

In [8]:
import sqlite3
connection = sqlite3.connect(db_name)

cur = connection.cursor()


# Create table
cur.execute('''CREATE TABLE IF NOT EXISTS stocks
               (date text, trans text, symbol text, qty real, price real)''')


try:
    # Insert a row of data
    cur.execute("INSERT INTO stocks VALUES ('2006-01-05', 'BUY', 'RHAT', 100, 35.14)")
    cur.execute("INSERT INTO stocks VALUES ('2006-03-28', 'BUY', 'IBM', 1000, 45.0)")
    cur.execute("INSERT INTO stocks VALUES ('2006-04-06', 'SELL', 'IBM', 500, 53.0)")
    cur.execute("INSERT INTO stocks VALUES ('2006-04-05', 'BUY', 'MSFT', 1000, 72.0)")


    # Save (commit) the changes
    connection.commit()
finally:
    # We can also close the connection if we are done with it.
    # Just be sure any changes have been committed or they will be lost.
    connection.close()

In [16]:
import sqlite3
connnection = sqlite3.connect(db_name)
cursor = connnection.cursor()
try:
    stocks = cursor.execute('SELECT * FROM stocks ORDER BY price DESC LIMIT 2')
    #print(type(stocks))
    for row in stocks:
        #print(type(row))
        print(row)

finally:
    connnection.close()

('2006-04-05', 'BUY', 'MSFT', 1000.0, 72.0)
('2006-04-05', 'BUY', 'MSFT', 1000.0, 72.0)

In [17]:
import sqlite3
connnection = sqlite3.connect(db_name)
cursor = connnection.cursor()
try:
    cursor.execute('SELECT * FROM stocks ORDER BY price')
    print(cursor.fetchone())    
    print(cursor.fetchone())    
    print(cursor.fetchone())    

finally:
    connnection.close()

('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-03-28', 'BUY', 'IBM', 1000.0, 45.0)

In [22]:
import sqlite3
connnection = sqlite3.connect(db_name)
cursor = connnection.cursor()
try:
    cursor.execute('SELECT * FROM stocks WHERE price < 50 ORDER BY price')
    next_row = cursor.fetchmany(6)
    print(type(next_row))
    print(next_row)

finally:
    connnection.close()

<class 'list'>
[('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-03-28', 'BUY', 'IBM', 1000.0, 45.0), ('2006-03-28', 'BUY', 'IBM', 1000.0, 45.0)]

In [23]:
import sqlite3
connnection = sqlite3.connect(db_name)
cursor = connnection.cursor()
try:
    symbol = 'RHAT'
    cursor.execute("SELECT * FROM stocks WHERE symbol = '%s'" % symbol)
    print(cursor.fetchone())
finally:
    connnection.close()

('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)

In [24]:
import sqlite3
connnection = sqlite3.connect(db_name)
cursor = connnection.cursor()
try:
    cursor.execute("CREATE TABLE IF NOT EXISTS lang (name, first_appeared)")

    # This is the qmark style:
    cursor.execute("insert into lang values (?, ?)", ("C", 1972))

    # The qmark style used with executemany():
    lang_list = [
        ("Fortran", 1957),
        ("Python", 1991),
        ("Go", 2009),
    ]

    cursor.executemany("insert into lang values (?, ?)", lang_list)

    connnection.commit()

    # And this is the named style:
    cursor.execute("select * from lang where first_appeared=:year", {"year": 1972, "gender": 1, "city": 'Lviv', })
    print(cursor.fetchall())
finally:
    connnection.close()

[('C', 1972)]